$black: #4b4b4b;
$white: #fefefe;
$gray: #b9c3cb;
$gray-light: #c4c4c4;
$blue: #94bbd7;
$info: #9ae1d4;
$info-dark: #8bc9bd;
$info-light: #75dbd2;
$info-alpha: #eaf8f8;
$grass: #b1e19a;
$grass-dark: #a6c98b;
$green: #4ab55b;
$rose: #e1ab9a;
$rose-dark: #c99a8b;
$purple: #be9ae1;
$purple-dark: #a68bc9;
$peach: #e19a9a;
$peach-dark: #c98b8b;
$peach-light: #ff4c65;
$pink: #e19acd;
$pink-dark: #c98bb7;
$soil: #e1da9a;
$soil-dark: #c9c38b;
$orange: #ff855a;
$ornage-alpha: #fff0eb;
